body {
  max-height: 150px;
  width: 300px;
}

h2 {
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #F0F0F0;
}

ul {
  margin: 8px 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 0 3px;
  padding: 0;
}

ul li img {
  margin-right: 5px;
  width: 20px;
}

ul li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #5F5F5F;
  text-decoration: none;
}

ul li a:hover {
  color: rgb(106, 201, 245);
  text-decoration: underline;
}
