* {
  box-sizing: border-box;
}

body {
  max-height: 150px;
  width: 300px;
}

h2 {
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #F0F0F0;
}

h3 {
  margin: 5px 0 0;
}

ul {
  margin: 8px 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 0 3px;
  padding: 0;
}

ul li a {
  display: flex;
  align-items: center;
  color: #5F5F5F;
  text-decoration: none;
}

ul li a:hover {
  opacity: 0.6;
  color: rgb(88, 195, 245);
  text-decoration: underline;
}

ul li a img {
  margin-right: 5px;
  width: 20px;
}

ul li a p {
  width: 260px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul li i {
  padding: 3.375px 5px;
  border-radius: 50%;
}

ul li i:hover {
  opacity: 0.6;
  background-color: rgb(106, 201, 245);
  cursor: pointer;
}
