body {
  width: 280px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #555555;
}
h3 {
  margin: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #AAAAAA;
}
label {
  margin-top: 5px;
}
